%footer
	#wrapper.row
		#partners.large-6.columns.ion-ios7-people
			= link_to 'Colaboradores', partners_path
		#social.large-6.columns
			%span
				Síguenos:
			%a.facebook.ion-social-facebook{:href => 'https://www.facebook.com/mooffinES'}
			%a.twitter.ion-social-twitter{:href => 'https://www.twitter.com/mooffinES'}
			%a.twitter.ion-social-pinterest{:href => 'https://www.pinterest.com/mooffinES'}
