%footer
	#wrapper.row
		#partners.large-6.columns.ion-ios7-people
			%a{:href => 'partners'}
				Colaboradores
		#social.large-6.columns
			%span
				Síguenos:
			%a.facebook.ion-social-facebook{:href => 'https://www.facebook.com/mooffinES'}
			%a.twitter.ion-social-twitter{:href => 'https://www.twitter.com/mooffinES'}
