#list_types
	= image_tag('grid.png', size: '20', 'ng-class'=>"{active: layout == 'grid'}", 'ng-click'=>"layout = 'grid'")
	= image_tag('list.png', size: '20', 'ng-class'=>"{active: layout == 'list'}", 'ng-click'=>"layout = 'list'")
