#list_types{ 'ng-cloak' => '' }
	%span.ion-grid{'ng-class'=>"{active: layout == 'grid'}", 'ng-click'=>"layout = 'grid'"}
	%span.ion-navicon{'ng-class'=>"{active: layout == 'list'}", 'ng-click'=>"layout = 'list'"}
