- if @recipe.user != current_user
  %span.report.ion-speakerphone{"data-reveal-id" => "reportModal", :href => "#"}

  #reportModal.reveal-modal{ 'ng-controller' => 'RecipeReportsController', 'data-reveal' => ''}
    %h2 Formulario de denuncia de la receta
    - if ((denunciada = @recipe.user_already_reported(current_user)) != false)
      %p.lead Ya has denunciado esta receta!
    - elsif current_user
      %p.lead Cual es el motivo de la denuncia?
      %form#form_opinion{:name => 'newReportForm', :novalidate => '', 'ng-submit' => 'form.submit(newReportForm.$valid)'}
        %ul
          %li{ 'ng-repeat' => 'reason in reasonsAll' }
            %input{:name => "reason_id", :type => "radio", "ng-model" => "formData.reason_id", :required => '', :value => '{{reason.id}}'}
            %span{'ng-bind' => 'reason.description'}
        %textarea.newReport_desc{ placeholder: '', 'ng-model' => 'report_desc'}
        = button_tag 'Reportar receta', class: 'btn_reportReceta', type: :submit, 'ng-click' => 'createReport()', 'ng-disabled' => "newReportForm.$invalid"

    - else
      %p.lead Debe estar registrado para denunciar una receta
    %a.close-reveal-modal ×
