#recipesProposals_grid.row{'ng-show' => "layout == 'grid'"}
	#proposal.large-4.columns{ 'ng-repeat' => 'recipe in show_recipes' }
		#proposal_container
			%a{href: 'recipes/{{recipe.id}}'}
				%span.rating{'ng-bind' => 'recipe.rating'}
				%span.overlay
				#foto
					%img{'ng-src' => '{{recipe.photo_url}}'}

				#titulo
					%span{'ng-bind' => 'recipe.title'}



#recipesProposals_list{'ng-show' => "layout == 'list'"}
	#proposal{ 'ng-repeat' => 'recipe in show_recipes' }
		#title
			%a{href: 'recipes/{{recipe.id}}'} 
				%span{'ng-bind' => 'recipe.title'}

		#rating
			%span{'ng-bind' => 'recipe.rating'}

		