#recipesProposals_grid.row{'ng-show' => "layout == 'grid'", 'ng-cloak' => ''}
	.proposal.large-4.columns{ 'ng-repeat' => 'recipe in show_recipes' }
		#proposal_container
			%a{href: 'recipes/{{recipe.id}}'}

				%span.rating{'ng-bind' => 'recipe.rating', 'ng-show' => 'recipe.numOpinions > 0'}
				#overlay
					%span.ion-ios7-timer-outline
					%span.time{'ng-bind' => 'recipe.time'}
					%span.icono.ion-ios7-gear-outline
					%span.dif{'ng-bind' => 'recipe.dif_desc'}
					#desc
						%span{'ng-bind' => 'recipe.description'}
					#counters
						%span.icono.ion-ios7-heart-outline
						%span.texto{'ng-bind' => 'recipe.num_likes'}
						%span.icono.ion-ios7-chatbubble-outline
						%span.texto{'ng-bind' => 'recipe.num_opinions'}
						%span.icono.ion-ios7-eye-outline
						%span.texto{'ng-bind' => 'recipe.views_count'}

				#foto
					%img{'ng-show' => 'recipe.photo_file_name', 'ng-src' => '{{recipe.photo_url}}'}
					%img{'ng-show' => 'recipe.photo_file_name == null', 'ng-src' => '/assets/{{recipe.photo_url}}'}
				#titulo
					%span{'ng-bind' => 'recipe.title'}



#recipesProposals_list{'ng-show' => "layout == 'list'", 'ng-cloak' => ''}
	.proposal{ 'ng-repeat' => 'recipe in show_recipes' }
		#title
			%a{href: 'recipes/{{recipe.id}}'}
				%span{'ng-bind' => 'recipe.title'}

		#rating
			%span{'ng-bind' => 'recipe.rating'}
