#buscador.large-4.columns
	%div.bar
		%ui-select{:multiple => "", "ng-model" => "selected_ingredients", :theme => "select2"}
			%ui-select-match{:placeholder => "Ingrediéntame..."} {{$item.name}}
			%ui-select-choices{:repeat => "ingredient in ingredients | filter: {name: $select.search}"}
				%div{"ng-bind-html" => "ingredient.name | highlight: $select.search"}

	#ingSel
		%ul
			%li{'ng-repeat' => 'ing in selected_ingredients', 'ng-cloak' => '' }
				%span.ing{'ng-bind' => 'ing.name'}
				%span.removeIng.ion-ios7-close-empty{'ng-click' => 'removeIngredient($index)' }

	#nuevosIng
		Si echas en falta algún ingrediente envíanos un correo a <b>ingredientes@mooffin.es</b>. Intentaremos meterlo lo más rápido posible!
