#buscador
	%div{ 'ng-app' => 'instantIngredientsSearch', 'ng-controller' => 'InstantIngredientsSearchController' }
		%div.bar
			<!-- Create a binding between the searchString model and the text field -->
			%input{ :type => 'text', 'ng-model' => 'searchString', :class => 'searcher_bar', :placeholder => 'Ingrediéntame...' }

			%table{ 'ng-show' => 'searchString.length >= 2' }
				%tr{ 'ng-repeat' => 'i in ingredients | searchFor:searchString', 'ng-click' => 'setValue(i)' }
					%td {{i.name}}

		%ul
			%li{ 'ng-repeat' => 'ing in selected_ingredients' } 
				{{ing.name}}