#buscador.large-4.columns
	%div
		%div.bar
			<!-- Create a binding between the searchString model and the text field -->
			%input{ :type => 'text', 'ng-model' => 'searchString', :class => 'searcher_bar', :placeholder => 'Ingrediéntame...' }

			#resultadosBuscador

				%table{ 'ng-show' => 'searchString.length >= 2', :class => 'resultIngTable' }
					%tr{ 'ng-repeat' => 'i in ingredients | searchFor:searchString', 'ng-click' => 'setValue(i)', :class => 'resultIng' }
						%td{'ng-bind' => 'i.name'}

		#ingSel
			%ul
				%li{'ng-repeat' => 'ing in selected_ingredients' } 
					%span{'ng-click' => 'removeIngredient($index)' } x
					%span.ing{'ng-bind' => 'ing.name'}
					
