#recipesProposals_grid.row{'ng-cloak' => ''}
	.proposal.large-3.columns{ 'ng-repeat' => 'recipe in lastRecipes' }
		#proposal_container
			%a{href: 'recetas/{{recipe.slug}}'}

				%span.rating{'ng-bind' => 'recipe.rating', 'ng-show' => 'recipe.numOpinions > 0'}
				#overlay
					%span.ion-ios7-timer-outline
					%span.time{'ng-bind' => 'recipe.time'}
					%span.icono.ion-ios7-gear-outline
					%span.dif{'ng-bind' => 'recipe.dif_desc'}
					#desc
						%span{'ng-bind' => 'recipe.description'}
					#counters
						%span.icono.ion-ios7-heart-outline
						%span.texto{'ng-bind' => 'recipe.num_likes'}
						%span.icono.ion-ios7-chatbubble-outline
						%span.texto{'ng-bind' => 'recipe.num_opinions'}
						%span.icono.ion-ios7-eye-outline
						%span.texto{'ng-bind' => 'recipe.views_count'}

				#foto
					%img{'ng-show' => 'recipe.photo_file_name', 'ng-src' => '{{recipe.photo_url}}', 'alt' => '{{recipe.title}}', 'title' => '{{recipe.title}}'}
					%img{'ng-show' => 'recipe.photo_file_name == null', 'ng-src' => '/assets/{{recipe.photo_url}}', 'alt' => '{{recipe.title}}', 'title' => '{{recipe.title}}'}
				#titulo
					%span{'ng-bind' => 'recipe.title'}
