- if current_user
	- if like = current_user.likes.find_by_recipe_id(@recipe)
		%a.edit.ion-ios7-heart-outline{:href => like, :method => :delete, remote: true}
	- else
		= form_for [@recipe, @like], :remote => true do |f|
			= image_submit_tag 'nofav.png'