#likeRecipe.row{ 'ng-controller' => 'RecipeLikesController' }
	.nomegusta.large-12.columns{"ng-hide" => "likeRecipe == 'null'"}
		%a.edit.ion-ios7-heart{'ng-click' => "removeLike()"}
	.megusta.large-12.columns{"ng-show" => "likeRecipe == 'null'"}
		%a.edit.ion-ios7-heart-outline{'ng-click' => "createLike()"}
