#myRecipes_grid{'ng-show' => "layout == 'grid'", 'ng-cloak' => ''}
	.recipe.large-4.columns{ 'ng-repeat' => 'recipe in userRecipes' }
		#my_recipe_container
			%a{href: '/recetas/{{recipe.slug}}'}
				%span.rating{'ng-bind' => 'recipe.rating'}
				%span.overlay
				#foto
					%img{'ng-show' => 'recipe.photo_file_name', 'ng-src' => '{{recipe.photo_url}}', 'alt' => '{{recipe.title}}'}
					%img{'ng-show' => 'recipe.photo_file_name == null', 'ng-src' => '/assets/{{recipe.photo_url}}', 'alt' => '{{recipe.title}}'}
				#titulo
					%span{'ng-bind' => 'recipe.title'}
				- if current_user
					#operaciones{'ng-show' => "isAuthor(recipe.user_id, '#{current_user.id}')"}
						%a.edit.ion-ios7-refresh{href: '/recetas/{{recipe.slug}}/editar'}
						%a.delete.ion-ios7-close{'confirmed-click-action' => "deleteRecipe(recipe.id)", 'ng-confirm-click'=>'En serio, quieres borrarla??'}


#myRecipes_list{'ng-show' => "layout == 'list'", 'ng-cloak' => ''}
	.recipe{ 'ng-repeat' => 'recipe in userRecipes' }
		#title
			%a{href: '/recetas/{{recipe.slug}}'}
				%span{'ng-bind' => 'recipe.title'}
		- if current_user
			#options{'ng-show' => "isAuthor(recipe.user_id, '#{current_user.id}')"}
				%a.edit.ion-ios7-refresh{href: '/recetas/{{recipe.slug}}/editar'}
				%a.delete.ion-ios7-close{'confirmed-click-action' => "deleteRecipe(recipe.id)", 'ng-confirm-click'=>'En serio, quieres borrarla??'}
