#myRecipes_grid{'ng-show' => "layout == 'grid'", 'ng-cloak' => ''}
	= div_for(recipe, :class => 'large-4 columns') do		
		#my_recipe_container
			%a{href: recipe_path(recipe)}
				%span.overlay
				#foto
					= image_tag(recipe.photo_url)
				#titulo
					= link_to recipe.title, recipe_path(recipe), {:class => 'text'}

				- if recipe.user == current_user
					%a.edit.ion-ios7-refresh{:href => edit_recipe_path(recipe)}
					%a.delete.ion-ios7-close{:href => recipe, :method => :delete, data: { confirm: "Seguro?" }, remote: true}

#myRecipes_list{'ng-show' => "layout == 'list'", 'ng-cloak' => ''}
	=div_for recipe do
		#title
			= link_to recipe.title, recipe_path(recipe), {:class => 'text'}
			
		- if recipe.user == current_user
			#options
				%a.edit.ion-ios7-refresh{:href => edit_recipe_path(recipe)}
				%a.delete.ion-ios7-close{:href => recipe, :method => :delete, data: { confirm: "Seguro?" }, remote: true}

								
