%html
%body{ 'ng-app' => 'instantIngredientsSearch' }

= render :partial => 'layouts/shared/header'

#content{ 'ng-controller' => 'InstantIngredientsSearchController' }
	#buscador

	#main
		= render @likes

		= render :partial => 'layouts/shared/list_types'

= render :partial => 'layouts/shared/footer'