%html
%body
%header
	%a{ :href => "#", :id => 'logo' }= 'Moffin'
	#login=  'Login'
	

%nav{:id =>'menu_principal'}
	%ul		
		%li='Qué cocino?'
		%li='Mis recetas'
		%li='Favoritas'

#main 
	asdfasdfasdf

%footer
	Mooffin 2013