%html
%body

= render :partial => 'layouts/header'

#content
	#buscador
	/ = form_for(@ingredient) do |ing|
	/	= ing.text_field :name, :value => @ingredient.name
	/	= ing.submit
		
	#main
		Pantalla principal
		
= render :partial => 'layouts/footer'