%html
%body
%header
	%a{ :href => "#", :id => 'logo' }= 'Moffin'
	#login=  'Login'
	

%nav{:id =>'menu_principal'}
	%ul		
		%li='Qué cocino?'
		%li='Mis recetas'
		%li='Favoritas'

#content
	#buscador
	/ = form_for(@ingredient) do |ing|
	/	= ing.text_field :name, :value => @ingredient.name
	/	= ing.submit
		
	#main
		Pantalla principal
		

%footer
	Mooffin 2013