%html
%body

= render :partial => 'layouts/header'

#content
	#buscador
		%div{ 'ng-app' => 'instantIngredientsSearch', 'ng-controller' => 'InstantIngredientsSearchController' }
			%div.bar
				<!-- Create a binding between the searchString model and the text field -->
				%input{ :type => 'text', 'ng-model' => 'searchString', :placeholder => 'Introduzca un ingrediente aquí...' }

			%ul
				%li{ 'ng-repeat' => 'i in items | searchFor:searchString' }
					%a{ :href => '{{i.url}}' }
						%img{ 'ng-src' => '{{i.image}}' }
					%p {{i.title}}

	#main
		Pantalla principal
		
= render :partial => 'layouts/footer'