- content_for(:title, 'Mooffin')

%html	

	%head
		%title yield(:title)

	%body{ 'ng-app' => 'instantIngredientsSearch' }

		= render :partial => 'layouts/shared/header'

		#content{ 'ng-controller' => 'InstantIngredientsSearchController' }
			= render :partial => 'layouts/shared/searcher'

			#main

				#home{'ng-hide' => 'show_recipes.length > 0'} 
					#mensajeInicio
						¿Qué puedo cocinar hoy?
					#imagenInicio

				#recipes{'ng-show' => 'show_recipes.length > 0'}
					= render :partial => 'layouts/shared/proposals'

		= render :partial => 'layouts/shared/footer'