- content_for(:title, 'Mooffin')

%html	

	%head
		%title yield(:title)

	%body

		= render :partial => 'layouts/shared/header'

		#content{ 'ng-app' => 'instantIngredientsSearch' }
			= render :partial => 'layouts/shared/searcher'

			#main

				#home{'ng-hide' => 'show_recipes'}

				#recipes{'ng-show' => 'show_recipes'}
					= render :partial => 'layouts/shared/proposals'

		= render :partial => 'layouts/shared/footer'