@import "compass"
@import "compass/layout"

@font-face
	font-family: 'mooffinFont'
	src: url(font-path('please_write_me_a_song.ttf'))  format('truetype')

=color_cabecera
	background-color: #222

=cabecera_big
	height: 120px

=cabecera_small
	height: 50px

=comunes_cabecera
	width: 100%	
	color: white !important
	font-size: 16px
	+color_cabecera
	top: 0
	left: 0
	z-index: 1000
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2)
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.2)
	-ms-box-shadow: 1px 1px 3px rgba(0,0,0,0.2)
	-o-box-shadow: 1px 1px 3px rgba(0,0,0,0.2)
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2)

=comunes_lineas_menu
	content: ""
	position: absolute
	right: 15px
	display: block
	width: 16px
	top: 5px
	height: 0
	box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white

=comunes_boton_login($ruta)
	display: inline-block
	width: 25px
	height: 25px
	background: url($ruta)
	background-position: 0px 0px
	background-size: 25px

=comunes_boton_login_hover()
	background-position: 0px -35px

=effect($time)
	transition: all $time ease-out
	-webkit-transition: all $time ease-out
	-moz-transition: all $time ease
	-o-transition: all $time ease

=comunes_barra_progreso
	background: #108CFF
	position: fixed
	z-index: 2000
	left: 0
	height: 2px

	-webkit-transition: width 1s
	-moz-transition: width 1s
	-o-transition: width 1s
	transition: width 1s

//Barra de progreso
.pace-inactive
	display: none

@media (max-width: 658px)	
	.pace .pace-progress
		+comunes_barra_progreso
		top: 50px

@media (min-width: 659px)
	.pace .pace-progress
		+comunes_barra_progreso
		top: 120px

// topBar after scroll
#header.big
	+cabecera_big
	+comunes_cabecera
	a
		color: white

	#logo
		display: inline
		-webkit-transition: opacity .2s ease-in-out
		-moz-transition: opacity .2s ease-in-out
		-o-transition: opacity .2s ease-in-out
		transition: opacity .2s ease-in-out
		width: auto !important
		max-width: 200px
		float: left

		a img
			overflow: hidden
			position: absolute
			max-width: 180px
			margin: 7px 0 0 7px

		&:hover

	#menu_movil
		position: fixed
		margin: 5px 0 0 0
		right: 0 
		padding: 15px 15px 0 0
		z-index: 100
		width: 40px
		height: 40px

		a
			color: white

			&::after
				+comunes_lineas_menu

	// Pantallas grandes
	@media (min-width: 659px)
		#login

			#logout
				float: right
				margin: 15px 10px 0 0
				font-weight: bold 
				font-size: 1em
				width: 120px

				img
					width: 25px
					border-radius: 10px
					margin: 0 10px 0 0 

				#salir
					float: right
					margin: 0 15px 0 10px
					width: 15px
					
					img
						margin: 0 0 0 10px
						border-radius: 0

			#login_box
				float: right
				margin: 10px 10px 0 0


				.login_text				
					margin: 0 0 0 15px
					vertical-align: super

				.google
					+comunes_boton_login('icons/google_sprite.png')

					&:hover
						+comunes_boton_login_hover()

				.facebook
					+comunes_boton_login('icons/facebook_sprite.png')

					&:hover
						+comunes_boton_login_hover()

				.twitter
					+comunes_boton_login('icons/twitter_sprite.png')

					&:hover
						+comunes_boton_login_hover()

				a
					margin: 0 0 0 10px


		#menu_principal
			width: 100%
			margin-top: 88px
			height: 30px

			ul
				font-family: 'mooffinFont'     
				float: right
				margin: 0 10px 0 0	
				font-weight: bold 
				font-size: 1.5em

				li
					display: inline
					padding: 0px 0px
					color: white

				a
					color: white
					+effect(0.5s)

				:hover
					color: #E5E5E5
					+effect(0.5s)

	// Pantallas móviles
	@media (max-width: 658px)
		#login
			right: 0 
			margin: 90px 0 0 0

			#logout
				float: right
				margin: 0 10px 0 0
				font-weight: bold 
				font-size: 1em
				width: 120px

				img
					width: 25px
					border-radius: 10px
					margin: 0 10px 0 0

				#salir
					float: right
					margin: 0 15px 0 10px
					width: 15px
					
					img
						margin: 0 0 0 10px
						border-radius: 0

			#login_box
				float: right
				margin: 0 20px 0 0
				+color_cabecera

				.login_text				
					margin: 0 0 0 15px

				.google
					+comunes_boton_login('icons/google_sprite.png')

					&:hover
						+comunes_boton_login_hover()

				.facebook
					+comunes_boton_login('icons/facebook_sprite.png')

					&:hover
						+comunes_boton_login_hover()

				.twitter
					+comunes_boton_login('icons/twitter_sprite.png')

					&:hover
						+comunes_boton_login_hover()

				a
					margin: 0 0 0 10px

		#menu_principal
			width: 100%
			margin-top: 120px
			height: 30px			
			text-transform: uppercase

			ul
				font-family: 'mooffinFont'
				font-weight: bold 
				font-size: 1.5em
				float: right
				margin: 0 0 0 0
				+color_cabecera
				border-top: 2px solid #333

				li
					display: inline
					padding: 0px 0px
					color: white

				a
					color: white
					+effect(0.5s)

				:hover
					color: #E5E5E5
					+effect(0.5s)




// HEADER SMALL (after scrolling down)
#header.small
	+cabecera_small
	position: fixed
	+comunes_cabecera

	#logo		
		-webkit-transition: opacity .2s ease-in-out
		-moz-transition: opacity .2s ease-in-out
		-o-transition: opacity .2s ease-in-out
		transition: opacity .2s ease-in-out
		margin: 5px 0 0 25px


		a img
			overflow: hidden
			position: absolute
			max-width: 70px

		&:hover	

	#menu_movil
		position: fixed
		right: 0 
		padding: 10px 15px 0 0
		z-index: 100
		width: 40px
		height: 40px

		a
			color: white			

			&::after
				+comunes_lineas_menu	


	// Pantallas grandes
	@media (min-width: 659px)
		#login
			right: 0 

			#logout
				float: right
				margin: 10px 10px 0 0
				font-weight: bold 
				font-size: 1em
				width: 120px

				img
					width: 25px
					border-radius: 10px
					margin: 0 10px 0 0

				a
					color: white

				#salir
					float: right
					margin: 0 15px 0 10px
					width: 15px
					
					img
						margin: 0 0 0 10px
						border-radius: 0

			#login_box
				float: right
				margin: 5px 10px 0 0
				+color_cabecera

				.login_text				
					margin: 0 0 0 15px
					vertical-align: super

				.google
					+comunes_boton_login('icons/google_sprite.png')

					&:hover
						+comunes_boton_login_hover()

				.facebook
					+comunes_boton_login('icons/facebook_sprite.png')

					&:hover
						+comunes_boton_login_hover()

				.twitter
					+comunes_boton_login('icons/twitter_sprite.png')

					&:hover
						+comunes_boton_login_hover()

				a
					margin: 0 0 0 10px



	// Pantallas móviles
	@media (max-width: 658px)
		#login

			#logout	
				float: right
				margin: 10px 70px 0 0
				font-weight: bold 
				font-size: 1em
				width: 120px

				img
					width: 25px
					border-radius: 10px
					margin: 0 10px 0 0

				a
					color: white	

				#salir
					float: right
					margin: 0 15px 0 10px
					width: 15px
					
					img
						margin: 0 0 0 10px
						border-radius: 0

			#login_box
				float: right
				margin: 10px 65px 0 0
				+color_cabecera

				.login_text				
					margin: 0 0 0 15px

				.google
					+comunes_boton_login('icons/google_sprite.png')

					&:hover
						+comunes_boton_login_hover()

				.facebook
					+comunes_boton_login('icons/facebook_sprite.png')

					&:hover
						+comunes_boton_login_hover()

				.twitter
					+comunes_boton_login('icons/twitter_sprite.png')

					&:hover
						+comunes_boton_login_hover()

				a
					margin: 0 0 0 10px

		#menu_principal
			width: 100%
			margin-top: 120px
			height: 30px			
			text-transform: uppercase

			ul
				font-family: 'mooffinFont'
				font-weight: bold 
				font-size: 1.5em
				float: right
				margin: 0 0 0 0
				+color_cabecera
				border-top: 2px solid #333

				li
					display: inline
					padding: 0px 0px
					color: white

				a
					color: white
					+effect(0.5s)

				:hover
					color: #E5E5E5
					+effect(0.5s)

	

.alert
	color: red
	float: right
	margin: 10px 30px 0 0

	a
		float: left
	p
		float: left