@import "compass"
@import "compass/layout"

header
   height: 120px
   color: black
   font-size: 16px
   background-color: #fff
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E8E8E8), to(#ffffff))
   background-image: -moz-linear-gradient(19% 75% 90deg,#ffffff,#E8E8E8)

body
   width: 1100px
   margin: 0 auto

html
   background-color: #E8E8E8

#logo
   padding: 20px 0 0 50px
   -webkit-transition: opacity .2s ease-in-out
   -moz-transition: opacity .2s ease-in-out
   -o-transition: opacity .2s ease-in-out
   transition: opacity .2s ease-in-out

   a img
      overflow: hidden
      position: absolute
      max-width: 140px
      max-height: 130px

   &:hover
      opacity: .7
   

#login
   width: 31%
   float: right
   clear: both

   .login_text
      width: 120px
      float: left
      border: 0px solid
      border-bottom: 1px solid #BAB6BA
      background-color: transparent
      margin: 0 5px 0 0
      padding: 0 6px 0 6px
      -webkit-box-shadow: inset 0 -7px 5px 0px rgba(186, 182, 186, 0.1)
      box-shadow: inset 0 -7px 5px 0px rgba(186, 182, 186, 0.1)
      //-moz-box-shadow: inset -5px -5px 5px 5px #888
      //-webkit-box-shadow: inset -5px -5px 5px 5px #888
      //box-shadow: inset -5px -5px 5px 5px #888

   .login_btn
      width: 65px
      height: 33px
      border: 0px solid #CCCCCC
      -webkit-box-shadow: #FEFFFF 0px 1px 1px
      -moz-box-shadow: #FEFFFF 0px 1px 1px
      box-shadow: #FEFFFF 0px 1px 1px
      -webkit-border-radius: 3px
      -moz-border-radius: 3px
      border-radius: 3px
      font-size: 14px
      font-family: arial, helvetica, sans-serif 
      padding: 10px 10px 10px 10px 
      text-decoration: none
      display: inline-block
      text-shadow: 0px 1px 0 rgba(255,255,255,1)
      font-weight: bold
      color: #4A4A4A
      background-color: #F7F5F6
      background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F5F6), to(#DDDDDD))
      background-image: -webkit-linear-gradient(top, #F7F5F6, #DDDDDD)
      background-image: -moz-linear-gradient(top, #F7F5F6, #DDDDDD)
      background-image: -ms-linear-gradient(top, #F7F5F6, #DDDDDD)
      background-image: -o-linear-gradient(top, #F7F5F6, #DDDDDD)
      background-image: linear-gradient(to bottom, #F7F5F6, #DDDDDD)

      &:hover
         border: 0px solid #ADADAD
         background-color: #E0E0E0
         background-image: -webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#BDBBBC))
         background-image: -webkit-linear-gradient(top, #E0E0E0, #BDBBBC)
         background-image: -moz-linear-gradient(top, #E0E0E0, #BDBBBC)
         background-image: -ms-linear-gradient(top, #E0E0E0, #BDBBBC)
         background-image: -o-linear-gradient(top, #E0E0E0, #BDBBBC)
         background-image: linear-gradient(to bottom, #E0E0E0, #BDBBBC)

 
#login_nav.ng-hide-add, .animate-show-hide.ng-hide-remove
   -webkit-transition: all linear 0.5s
   -moz-transition: all linear 0.5s
   -o-transition: all linear 0.5s
   transition: all linear 0.5s
   display: block!important
 
#login_nav.ng-hide-add.ng-hide-add-active,
#login_nav.ng-hide-remove
   opacity: 0
 
#login_nav.ng-hide-add,
#login_nav.ng-hide-remove.ng-hide-remove-active
   opacity: 1

#login_nav
   position: absolute

   ul
      list-style: none
      float: right
      margin: 10px 0 0 120px

      li
         display: inline
         margin-left: 20px

         a.btn_login
            //background: #228b9b
            background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F5F6), to(#DDDDDD))
            color: #64645d
            padding: 5px 12px
            border-radius: 3px

#login_form
   visibility: hidden


#menu_principal
   width: 100%
   height: 30px
   font: bold 13px "DroidSansBold", Verdana, sans-serif
   text-transform: uppercase
   letter-spacing: 1px
   
   ul     
      float: right
      margin: 0 50px 0 0

   li
      display: inline
      padding-left: 20px

      
      padding: 5px 15px
      color: #64645d
         
      :hover
         color: #754800
   

#content
   width: 100%
   height: 500px

#main
   width: 850px
   float: left
   height: 100%

#buscador
   width: 250px
   height: 100%
   float: left
   border-right: solid thin #e8e8e8

footer
   height: 50px
   width: 100%
   color: #cfcecd
   font-family: "Sentinel SSm A", "Sentinel SSm B", Georgia, "Times New Roman", serif
   text-align: center

