// OPINIONES
#opiniones
	float: left
	width: 90%
	margin: 40px 0 0 30px

	.titulo
		margin: 0 0 10px 0
		padding: 0 0 0 10px
		border-bottom: solid thin #e8e8e8

	#opinion
		font-size: 14px
		border-top: solid thin #e8e8e8
		
		.opUsuario
			float: left
		.opHora
			margin: 0 0 0 50px
			color: #999999
		.opVal
			float: left
		.opTexto
			margin: 0 0 0 50px


#nuevaOpinion
	float: left
	width: 90%
	margin: 40px 0 0 30px
		