// OPINIONES

// Pantallas grandes
@media (min-width: 659px)
	#opiniones
		float: left
		width: 90%
		margin: 40px 0 0 30px

		.titulo
			margin: 0 0 10px 0
			padding: 0 0 0 10px
			border-bottom: solid thin #e8e8e8

		.opinion
			font-size: 14px
			margin: 15px 0 0 0
			padding: 10px 0 15px 10px
			border: solid thin #e8e8e8
			border-radius: 5px

			img
				border-radius: 25px
				position: absolute

			.opVal	
				position: absolute
				margin: 55px 0 0 10px
				border: 1px solid #a1a1a1
				border-radius: 15px
				background-color: #e8e8e8
				padding: 5px
			
			#opTop
				width: 100%
				height: 50px
				padding: 10px 0 0 0

				span
					font-size: 0.8em
					margin: 0 0 0 10px
					color: #999999

				a
					margin: 0 0 0 75px
					font-size: 1.15em
					font-weight: bold

				.opDelete
					float: right
					margin: 0 20px 0 0

			#opBottom
				width: 100%
				margin: 5px 0 0
				padding: 0 20px 0 75px
				
				.opText

// Pantallas móviles
@media (max-width: 658px)
	#opiniones
		float: left
		width: 90%
		margin: 40px 0 0 30px

		.titulo
			margin: 0 0 10px 0
			padding: 0 0 0 10px
			border-bottom: solid thin #e8e8e8

		.opinion
			font-size: 14px			
			margin: 15px 0 0 0
			padding: 10px 0 15px 10px
			border: solid thin #e8e8e8
			border-radius: 5px
			
			img
				border-radius: 25px
				position: absolute

			.opVal	
				position: absolute
				margin: 50px 0 0 10px
				border: 1px solid #a1a1a1
				border-radius: 15px
				background-color: #e8e8e8
				padding: 5px

			#opTop
				width: 100%
				height: 50px
				padding: 10px 0 0 0
				
				span
					margin: 0 0 0 75px
					font-size: 0.8em
					color: #999999

				a
					margin: 0 0 0 75px	
					float: left
					width: 100%
					font-size: 1.15em
					font-weight: bold

				.opDelete
					float: right
					margin: 0 20px 0 0

			#opBottom
				width: 100%
				margin: 15px 0 0
				padding: 0 20px 0 0

				.opText					
					text-indent: 75px
					text-align: justify


#nuevaOpinion
	float: left
	width: 90%
	margin: 40px 0 0 30px
		