@import "compass"
@import "compass/layout"


#receta
	margin-left: 20px

#tituloreceta
	margin: 10px 60px 0 0
	padding: 0 0 2px 25px
	font-size: 30px
	border-bottom: solid thin #e8e8e8

#detallesreceta
	font-size: 12px
	color: #64645D
	margin: 10px 0 0 30px

#ingredientesreceta
	float: left
	width: 30%
	font-size: 14px
	margin: 20px 0 0 30px
	
	ul
		list-style: none

		li


#fotoreceta
	float: right
	margin: 0 50px 0 0
	img
		overflow: hidden
		// position: absolute
		max-width: 140px
		max-height: 130px


#elaboracionreceta
	float: left
	margin: 20px 0 0 30px