@import "compass"
@import "compass/layout"

@font-face
	font-family: 'mooffinFont'
	src: url(font-path('please_write_me_a_song.ttf'))  format('truetype')

=cajas_texto
	margin: 0 5px 0 0
	padding: 5px 0 0 5px
	float: left
	margin: 0 2px 0 2px

=contenedor_receta
	background-color: white
	color: black !important
	overflow: hidden
	height: auto
	+borde

=overlay_receta
	display: block
	position: absolute
	top: 1px
	right: 19px
	bottom: 51px
	left: 19px
	background: black
	z-index: 50
	opacity: 0
	+effect(0.2s)

=rating_receta
	background: none repeat scroll 0 0 #FFFFFF
	border: 1px solid #e1e1e1
	border-radius: 3px
	height: 30px
	opacity: 1
	font-size: 0.75em
	font-weight: bold
	padding: 5px
	position: absolute
	right: 30px
	top: 10px
	width: 30px
	z-index: 100
	text-align: center

=titulo_receta
	width: 100%
	height: 50px
	padding: 5px
	opacity: 1
	overflow: hidden
	padding: 15px 5px 5px
	position: relative
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	font-weight: bold
	font-size: 0.85em

=select_comunes($right, $top)
	font: 0.875em 'brandon_grotesquelight', 'OpenSansBold', Helvetica, Arial, sans-serif
	border: none
	border-bottom: 1px solid #CCC
	line-height: 1.5
	-webkit-appearance: none
	-moz-appearance: none
	text-indent: 0.01px
	text-overflow: ''
	appearance: none
	background: transparent url("arrow_2.png") no-repeat scroll $right $top
	padding: 14px 5px 0 0
	background-size: 15px
	height: 39px
	color: rgba(0, 0, 0, 0.75)

	&:focus
		box-shadow: 0 6px 8px -8px #808080 !important

=small_boxes_recipe
	margin: 0 10px 0 10px

=iconos_mis_recetas
	border-radius: 20px
	position: absolute
	font-size: 6px
	top: -20px
	opacity: 0
	z-index: 100
	+effect(0.2s)

=borde
	border-color: #d8d8d8
	border-style: solid
	border-radius: 3px
	border-width: 0px 1px 2px


=sombra_icono_receta
	-webkit-box-shadow: 3px 3px 5px #000000
	-moz-box-shadow: 3px 3px 5px #000000
	box-shadow: 3px 3px 5px #000000

=scale_effect($size)
	-webkit-transform: scale($size)
	-moz-transform: scale($size)
	-o-transform: scale($size)

=effect($time)
	-webkit-transition: all $time ease-out
	-moz-transition: all $time ease
	-o-transition: all $time ease

=transicion($time)
	transition-delay: $time
	-moz-transition-delay: $time
	-webkit-transition-delay: $time






#receta
	float: left
	width: 100%
	margin: 20px 0 0 0
	background: white
	border-radius: 3px
	1px solid rgba(241, 241, 241, 0.2)

	#cabecera

		#foto
			overflow: hidden
			max-height: 500px

			img
				height: auto
				width: 100%

	#autor
		text-align: center
		margin: 25px 0 0 0

		img
			width: 60px
			border-radius: 30px

	#titulo
		margin: 20px 0 0 0
		position: relative
		text-align: center

		@media (min-width: 658px)
			font-size: 3em

		@media (max-width: 657px)
			font-size: 2em

		#texto
			display: inline-block


		#likeRecipe
			position: absolute
			top: -20px
			right: -65px

			form
			margin: 0

	#descripcion
		text-align: center
		margin: 0 20% 25px
		padding: 20px 0
		border-bottom: solid thin #e8e8e8
		border-top: solid thin #e8e8e8
		font-size: 1em
		color: #64645D

	#contenido
		color: #64645D

		#datos
			#detalles

				font-size: 0.8em
				color: #64645D
				margin: 10px 0 30px 30px

				.dificultad
					margin: 5px 0 0 0

				.tiempoElaboracion
					margin: 5px 0 0 0

				.autor
					margin: 5px 0 0 0

			#ingredientes

				.titulo
					margin: 0 0 10px 0
					padding: 0 0 0 25px
					border-bottom: solid thin #e8e8e8
					font-size: 1em
					color: #64645D

				ul
					list-style: none
					padding: 10px

					li
						font-size: 1em
						text-indent: 20px

		#elaboracion
			padding: 0 10px 0 10px
			text-align: justify

			ul
				list-style: none
				padding: 10px

				li
					margin: 0 0 7px 0
					font-size: 1em
					text-indent: 20px


// MY RECIPES
#myRecipes_grid
	margin: 25px 0 0 10px

	.recipe
		float: left
		display: inline-block
		margin-bottom: 12px
		overflow: hidden
		position: relative
		+effect(0.5s)

		#my_recipe_container
			+contenedor_receta

			&:hover .delete
				top: 10px
				opacity: 1
				font-size: 21px
				+effect(0.2s)

			&:hover .edit
				top: 10px
				opacity: 1
				font-size: 21px
				+effect(0.2s)
				+transicion(100ms)

			&:hover .overlay
				opacity: 0.1
				+effect(0.2s)

			&:hover img
				+scale_effect(1.1)
				+effect(0.2s)

			span.overlay
				+overlay_receta

			@media (min-width: 658px)
				#foto
					overflow: hidden
					position: relative
					height: 120px

					img
						width: 100%
						height: 100%
						+effect(0.2s)

			@media (max-width: 657px)
				#foto
					overflow: hidden
					position: relative
					img
						width: 100%
						+effect(0.2s)

			#titulo
				+titulo_receta

			.edit
				+iconos_mis_recetas
				right: 30px
				color: white
				+transicion(100ms)
				+effect(0.2s)

				&:hover
					color: #3ebaff
					opacity: 0.5
					+effect(0.2s)

			.delete
				+iconos_mis_recetas
				right: 60px
				color: white
				+transicion(100ms)
				+effect(0.2s)

				&:hover
					color: red
					opacity: 0.5
					+effect(0.2s)

#myRecipes_list
	margin: 25px 0 0 10px

	.recipe
		width: 100%
		margin: 1px
		float: left
		border-bottom: 1px solid #E8E8E8
		padding: 2px 0

		#title
			width: 80%
			float: left

		#options
			width: 20%
			float: left

			.edit
				float: right
				margin: 0 10px 0 0

				&:hover
					color: #3ebaff
					opacity: 0.5
					+effect(0.2s)

			.delete
				float: right
				margin: 0 10px 0 0

				&:hover
					color: red
					opacity: 0.5
					+effect(0.2s)


// MY LIKED RECIPES
#myLikes_grid
	margin: 25px 0 0 10px

	.like
		float: left
		display: inline-block
		margin-bottom: 12px
		overflow: hidden
		position: relative
		+effect(0.5s)

	#my_like_container
		+contenedor_receta

		&:hover .delete
			top: 10px
			opacity: 1
			+effect(0.2s)

		&:hover .edit
			top: 10px
			opacity: 1
			+effect(0.2s)
			+transicion(100ms)

		&:hover .overlay
			opacity: 0.1
			+effect(0.2s)

		&:hover img
			+scale_effect(1.1)
			+effect(0.2s)

		span.overlay
			+overlay_receta

		span.rating
			+rating_receta

		@media (min-width: 658px)
			#foto
				overflow: hidden
				position: relative
				height: 120px

				img
					width: 100%
					height: 100%
					+effect(0.2s)

		@media (max-width: 657px)
			#foto
				overflow: hidden
				position: relative
				img
					width: 100%
					+effect(0.2s)

		#titulo
			+titulo_receta

		.edit
			+iconos_mis_recetas
			right: 70px
			color: #E70101
			font-size: 30px
			+transicion(100ms)

			&:hover
				color: black
				+transicion(100ms)


#myLikes_list
	margin: 25px 0 0 10px

	.like
		width: 100%
		margin: 1px
		float: left
		border-bottom: 1px solid #E8E8E8
		padding: 2px 0

		#title
			width: 80%
			float: left

		.fav
			float: right
			margin: 0 10px 0 0
			color: #E70101
			+transicion(100ms)

			&:hover
				color: black
				+transicion(100ms)

// NEW

#anhadirIng
	height: 100%
	float: left
	border-right: solid thin #e8e8e8
	padding: 30px 0 0 0

	.titulo
		margin: 0 0 0 7%

	#listaIng
		float: left
		margin: 20px 0 0 0

		ul
			list-style: none
			width: 100%
			padding: 0 0 0 25px
			text-align: left

			li
				font-size: 0.8em

			span.remove
				color: #da0404
				margin: 0 5px 0 0

			span.hidden
				display: none

			span
				color: black

	#new_link
		width: 90%
		margin: 0px auto
		padding: 15px 0 0 0

		#link_number
			width: 25%
			+cajas_texto

		#link_unit
			width: 70%
			float: left
			margin: 0 2px 0 2px
			+select_comunes(94%, 22px)

		#link_ingredient
			width: 50%
			+cajas_texto

		#link_importance
			width: 30%
			float: left
			margin: 0 2px 0 2px
			height: 30px
			+select_comunes(84%, 22px)

		.btn_addIng
			font-size: 27px
			float: left
			margin: 10px 0 0 10px
			cursor: pointer
			cursor: hand
			+effect(300ms)

			&:hover
				color: #3ebaff
				+effect(300ms)


	#resultadosBuscador
		max-height: 200px
		overflow-x: hidden
		overflow-y: auto
		padding: 0
		width: 50%
		position: relative
		left: 20px
		z-index: 100
		float: left

		.resultIngTable
			width: 100%

			.resultIng
				font-size: 0.8em
				width: auto

			.selected
				background-color: #222222
				td
					color: #FFFFFF !important



#mainNuevaReceta
	float: left
	height: 100%


#nuevaReceta
	width: 95%
	margin: 0 auto
	margin-top: 50px

	#titulo

		#recipe_title

	#detalles

		#tiempo


			#recipe_time


		#comensales


			#recipe_servings


		#dificultad

			.selector_dif
				+select_comunes(94%, 22px)

			#recipe_difficulty_id


	#pasos
		margin: 35px 0 0 0


	label
		padding: 0 0 0 10px
		color: #232
		width: 20%

	#crearReceta
		width: 100%
		float: left

		.btn_crearReceta
			float: right
			height: 30px
			border: 1px solid #666666
			-webkit-border-radius: 3px
			-moz-border-radius: 3px
			border-radius: 3px
			font-size: 14px
			text-decoration: none
			display: inline-block
			font-weight: bold
			background-color: #A6A6A6
			color: #222222
			margin: 10px 0 0 10px
			padding: 0 10px

	ul.stepList
		padding: 0 10px
		font-size: 0.75em
		margin: 30px 0 0 0
		width: 100%
		list-style: none

		li
			margin: 0 0 20px 0

			.step_description
				float: left
				margin: 0 0 10px
				padding: 0 10px 0 0
				width: 100%
				text-align: justify
			.step_edit
				font-weight: bold !important
			.step_time
				margin: 0 0 0 5px
				float: left
			.hidden
				display: none

	#newStep
		position: relative

		.newStep_description
			float: left
			width: 94%
			height: 150px
			border: 1px solid #CCC

			&:focus
				box-shadow: 0 6px 8px -8px #808080 !important

		.btn_removeStep
			font-size: 27px
			position: absolute
			right: 5px
			top: 85px
			cursor: pointer
			cursor: hand
			+effect(300ms)

			&:hover
				color: red
				+effect(300ms)

		.btn_addStep
			font-size: 27px
			position: absolute
			right: 5px
			top: 120px
			cursor: pointer
			cursor: hand
			+effect(300ms)

			&:hover
				color: #3ebaff
				+effect(300ms)

#list_types
	width: 100%
	float: left
	text-align: center
	margin: 20px 0 0 0
	border-top: 1px solid #e1e1e1
	padding-top: 5px

	span
		font-size: 25px
		margin: 0 5px
		cursor: pointer
		cursor: hand
		+effect(300ms)

		&:hover
			color: #3ebaff
			+effect(300ms)
