#reportModal
  ul
    list-style: none

  .btn_reportReceta
    height: 30px
    padding: 0 10px
    float: right
    margin: 10px 0 0 10px
    background-color: #3EBAFF
    border: 1px solid #67caff
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    font-size: 0.875em
    text-decoration: none
    font-weight: bold
    color: white

  .newReport_desc  
    border: 1px solid #cccccc
